
## 크리스마스 장식 종류와 지역에 따라 판매량에 유의미한 차이가 있는지 이원 분산 분석을 통해 검정하세요


1. 크리스마스 장식 종류(트리, 조명, 장식품)가 판매량에 미치는 영향을 분석하세요. 이때, 장식 종류의 F-value, p-value를 구하시오
2. 지역(북부, 남부, 동부, 서부)이 판매량에 미치는 영향을 분석하세요. 이때, 장식 종류의 F-value, p-value를 구하시오
3. 크리스마스 장식 종류와 지역의 상호작용이 판매량에 미치는 영향을 분석하세요. 이때, 장식 종류의 F-value, p-value를 구하시오

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset/christmas_decoration_sales.csv')

df.head()

  Decoration_Type Region  Sales
0              트리     북부     64
1              트리     남부     67
2              트리     동부     84
3              트리     서부     87
4              트리     북부     87

In [3]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [6]:

formula = 'Sales ~ C(Decoration_Type) + C(Region) + C(Decoration_Type):C(Region)'

In [11]:
model = ols(formula, data=df).fit()
anova_lm(model).iloc[:3,3:]

                                     F    PR(>F)
C(Decoration_Type)            2.370578  0.114943
C(Region)                     0.720381  0.549614
C(Decoration_Type):C(Region)  2.308081  0.066915